.PopupMenu {
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgb(233, 229, 229);
  bottom: 120%;
  right: 0%;
  display: none;
}

.MenuItem {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
}

.Checked {
  height: inherit;
  display: inline-block;
  vertical-align: middle;
}

.checkIcon {
  display: inline-block;
}

.MenuItemText {
  width: 80%;
  float: right;
  text-align: right;
}

.Icon {
  margin-left: 5%;
}

.MenuItem:hover {
  background-color: #ddd;
}

.MenuItem[disabled] {
  pointer-events: none;
  opacity: 0.4;
}
