body {
  font-size: 14px;
}

.Transcription {
  overflow-y: scroll;
  height: 87%;
  bottom: 5px;
}

.SpeakerLines {
  border-collapse: collapse;
  width: calc(100%);
}

.SpeakerLines td {
  height: 2%;
}

.SpeakerId {
  font-size: 12pt;
  font-weight: 800;
  margin-bottom: 8px;
  cursor: pointer;
}

.SpeakerText {
  cursor: pointer;
}

.SpeakerText:hover, .SpeakerId:hover {
  text-shadow: 4px 4px 4px rgba(178, 181, 182, 0.473);
}

.SpeakerLine .SpeakerStatement {
  padding-bottom: 0;
}

.SpeakerStatement {
  color: rgb(74, 73, 73);
  width: auto;
}

.SpeakerStatement .time {
  font-size: 10pt;
  font-weight: 400;
  margin: 0 0 5px 0;
  float: right;
}

.Bubble {
  font-size: 13pt;
  font-weight: 500;
  padding: 10px 15px 5px 15px;
  position: relative;
  border: 0.5px solid rgb(226, 226, 226);
  clear: both;
}

.Bubble::before {
  content: ' ';
  display: block;
  height: 15px;
  position: absolute;
  width: 15px;
  width: 18px;
}

.Bubble-background {
  border-radius: 0 40px 20px 20px;
  float: left;
  margin: 5px 17px;
  background-color: #f8f6f6;
}

.Bubble-background::before {
  background-color: #f8f6f6;
  left: -4px;
  top: -1px;
  transform: rotate(45deg) skew(-45deg) translate(-1px, 0);
  border-left: 0.5px solid rgb(226, 226, 226);
  border-bottom: 0.5px solid rgb(226, 226, 226);
}

.Bubble-foreground {
  background-color: #eeffdd;
  border-radius: 40px 0px 20px 20px;
  float: right;
  margin: 5px 17px;
}

.Bubble-foreground .SpeakerId {
  text-align: right;
}

.Bubble-foreground::before {
  background-color: #eeffdd;
  right: -4.5px;
  top: -0.5px;
  transform: rotate(0deg) skew(-45deg) translate(4px, 0);
  border-right: 0.5px solid rgb(226, 226, 226);
  border-top: 0.5px solid rgb(226, 226, 226);
}

.SpeakerStatement p {
  margin-top: 0;
  margin-bottom: 0.5em;
}
