body {
  font-size: 14px;
}

.Panel {
  bottom: 0;
}

.Transcription {
  overflow-y: scroll;
  scroll-behavior: auto;
  height: 87%;
  bottom: 5px;
  /*
  border-left: 0.5px solid rgba(223, 211, 211, 0.516);
  */
  border-top: 0.5px solid rgba(223, 211, 211, 0.516);
}

.SpeakerLines {
  bottom: 0;
  width: 100%;
  border-collapse: collapse;
}

.SpeakerLines td, .SpeakerLines th {
  padding: 8px;
  height: 2%;
}

.SpeakerLines tr:nth-child(even){background-color: #f2f2f2;}
.SpeakerLines tr:hover {background-color: #ddd;}

.SpeakerId {
  font-weight:700;
  width: 10%;
  border-right: 1px solid #f2f2f2;
  vertical-align: text-top;
}

.SpeakerStatement {
  color: rgb(74, 73, 73);
}
