@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.HeaderPanel {
  /*
  height: 5%;
  padding: 3%;
  */
  background-color: 1px solid rgb(188, 178, 178);
  text-align: right;
  position: relative;
  display: inline-block;
  width: 100%;
}

.Button {
  border-radius: 60px;
  background-color: transparent;
  cursor: pointer;
}

.ButtonRecord, .Button {
  width: 25%;
  height: 60%;
  margin: 1% 0.5%;
}

.MenuDropDown {
  position: relative;
  display: inline-block;
}

.MenuDropDown .PopupMenu {
  display: block;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.ButtonDropDown, .Button {
  align-items: center;
  margin: 1%;
}

  /*
.ButtonMenu:hover, .ButtonMenu:focus {
  background-color: #b4d4ea;
}

.ButtonMenu:hover, .ButtonMenu:in-range{
  background-color: #5eb1e8;
}
  */