body {
  font-size: 12x;
}

.App {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  padding: 10px;
  align-items: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Transcription {
  overflow-y: scroll;
  scroll-behavior: auto;
  height: 87%;
  bottom: 5px;
  /*
  border-left: 0.5px solid rgba(223, 211, 211, 0.516);
  */
  border-top: 0.5px solid rgba(223, 211, 211, 0.516);
}

.SpeakerLines {
  bottom: 0;
  width: 100%;
  border-collapse: collapse;
}

.SpeakerLines td, .SpeakerLines th {
  padding: 8px;
  height: 2%;
}

.SpeakerLines tr:nth-child(even){background-color: #f2f2f2;}
.SpeakerLines tr:hover {background-color: #ddd;}

.SpeakerId {
  font-weight:700;
  width: 10%;
  border-right: 1px solid #f2f2f2;
  vertical-align: text-top;
}

.SpeakerStatement {
  color: rgb(74, 73, 73);
}
