.App {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  padding: 10px;
  align-items: center;
}

.Transcription {
  padding: 15px;
  margin-top: 15px;
  overflow-y: scroll;
  scroll-behavior: auto;
  height: 85%;
  bottom: 5%;
  border-left: 0.5px solid rgb(108, 104, 104);
  border-top: 0.5px solid rgba(223, 211, 211, 0.516);
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
