.Modal {
  position: fixed; /* Stay in place */
  display: flex;
  justify-content: center;
  align-items: start;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  z-index: 1;
  animation: fadeIn 0.3s;
}

@keyframes slideIn {
  0% {
    transform: translateY(100px);
    animation-timing-function: ease-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}